LOGIN=seu_login_icatu
SENHA=sua_senha_icatu
api_key=sua_api_key_vista

BOT_HOST=127.0.0.1
BOT_PORT=8000
BOT_SERVER_URL=http://127.0.0.1:8000
BOT_WEBHOOK_TOKEN=troque_este_segredo

BITRIX_STATUS_FIELD=
BITRIX_MESSAGE_FIELD=
BITRIX_FILE_FIELD=UF_CRM1732291331
